body {
    font-family: Verdana;
}

.header {
    background-image: url("/pattern-example.png");
    background-size: contain;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    font-style: oblique;
    font-size: 50px;
    background: white;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

h2 {
    margin-left: 10px;
}

.form {
    text-align: center;
}

.form p {
    display: inline-block;
    margin-right: 5px;
}

.form input {
    margin-right: 5px;
    font-size: 16px;
}

button {
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    background: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

#load-more {
    display: block;
    margin: auto;
}

.image-container {
    display: inline-block;
    border: 2px solid red;
    padding: 5px;
    width: min-content;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-container p {
    text-align: center;
}

.imageboard {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#popup {
    background: black;
    color: white;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#close {
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    text-decoration: underline;
}

#popup-result {
    width: 50%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px dashed white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#popup img {
    border: 1px solid white;
}

.add-comments p {
    display: inline-block;
}

.comment-container {
    background: red;
    width: 70%;
    margin: auto;
    padding-bottom: 3px;
    border: 2px solid white;
}

.uploaded-by {
    font-style: italic;
    font-size: 12px;
}

.button {
    display: inline-block;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
