body {
    font-family: Verdana;
    margin: 0 0 10px 0;
}

.header {
    background-image: url("/pattern-example.png");
    background-size: contain;
    height: 150px;
    border: 1px solid black;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 12px;
    font-style: oblique;
    font-size: 35px;
    text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff,
        1px 1px 5px #555;
}

.add-image {
    margin-top: 40px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.add-image p {
    display: inline-block;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file + label,
button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    background: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

#file:focus + label,
#file + label:hover,
button:hover {
    background-color: red;
}

input {
    font-size: 16px;
}

.imageboard {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    height: 320px;
    width: 320px;
    object-fit: cover;
    margin-bottom: 25px;
}

#load-more {
    margin: auto;
}

.cloud {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.result {
    height: 500px;
    background: white;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.result img {
    height: 500px;
    min-width: 500px;
    margin-bottom: 0;
}

.image-info {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    width: 100%;
}

.add-comments {
    padding-top: 10px;
}

.add-comments input {
    font-size: 12px;
}

.add-comments p,
.add-comments button {
    display: inline-block;
}

#add-comment {
    width: 95%;
    height: 40px;
}

.uploaded-by {
    font-style: oblique;
}

.comments-container {
    height: 58%;
    overflow: scroll;
}

.post {
    border-bottom: 1px solid black;
}

#submit {
    font-size: 14px;
}

.prev-next {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#prev,
#next {
    font-size: 14px;
}
