body {
    font-family: Verdana;
    margin: 0 0 10px 0;
}

.header {
    background-image: url("/pattern-example.png");
    background-size: contain;
    height: 150px;
    border: 1px solid black;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 12px;
    font-style: oblique;
    font-size: 35px;
    text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, -1px -1px #fff,
        1px 1px 5px #555;
}

.add-image {
    margin-top: 40px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.add-image p {
    display: inline-block;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file + label,
button {
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
    background: black;
    color: white;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

#file:focus + label,
#file + label:hover,
button:hover {
    background-color: red;
}

input {
    font-size: 16px;
}

.imageboard {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    height: 320px;
    width: 320px;
    object-fit: cover;
    margin-bottom: 25px;
}

#load-more {
    margin: auto;
}

#popup {
    background: black;
    color: white;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}

#close {
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    text-decoration: underline;
}

#popup img {
    border: 1px solid white;
}

.add-comments p {
    display: inline-block;
}

.comment-container {
    background: red;
    width: 70%;
    margin: auto;
    padding-bottom: 3px;
    border: 2px solid white;
}

.uploaded-by {
    font-style: italic;
    font-size: 12px;
}

.button {
    display: inline-block;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
