*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body, html {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}

#main {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 7rem;
}

.form {
    display: flex;
    align-self: center;
    margin-bottom: 40px 20px;
}

.input{
    margin: 0 20px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.input:focus {
    border-bottom: 1px solid rgb(206, 193, 21);
}

.input__file {
    width: 1px;
    visibility: hidden;
}

#input__file__fake {
    align-self: flex-end;
    height: 20px;
    margin: 1px 20px;
    font-family: 'Quicksand';
    font-size: 1.1rem;
    width: 150px;
    color: rgb(128, 128, 128);
    border-bottom: 1px solid #000;
    cursor: pointer;
}

#input__file__fake:hover {
    border-bottom: 1px solid rgb(206, 193, 21);
    color: rgb(206, 193, 21);
}

.btn {
    align-self: center;
    margin: 0 20px;
    width: 80px;
    height: 30px;
    background-color: rgb(26, 26, 26);
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.cards__container {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100vw;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.images__container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border-radius: 1px;
    margin: 30px 30px;
    padding: 5px;
}

.title {
    font-size: 1.4rem;
    text-align: center;
}

.image {
    align-self: center;
    border-radius: 1px;
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* MODAL STYLES */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dark {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .7;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.modal__container {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    z-index: 200;
}

.image__info {
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: 90vh;
}

.image__modal {
    max-height: 70vh;
    width: 55vw;
    object-fit: contain;
}

.title__modal {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

.description__modal {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.username__modal {
    text-align: center;
    font-size: 1.4rem;
}


/* COMMENTS STYLE */

.addcomments__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 35vw;
    height: 85vh;
    margin: 20px 40px;
}

.form__comment {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 8vh;
    margin: 10px 10px;
}

.comment__input {
    height: 30px;
    width: 100px;
    margin: 5px 5px;
}

.comments__container {
    height: 65%;
    overflow: scroll;
}

.comment__btn {
    width: 60px;
    margin: 5px 5px;
    height: 30px;
    background-color: rgb(26, 26, 26);
    outline: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.title__comment {
    text-align: center;
    margin-left: 20px;
}

.comment__box {
    margin: 5px;
}

.comment__username {
    padding: 5px;
}

.comment__comment {
    padding: 5px;
}

.comment__date {
    padding: 5px;
    font-size: 1rem
}