*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

body, html {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
}

#main {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    margin-bottom: 5vh;
    text-align: center;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 7rem;
}

.form {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

.input{
    margin: 0 20px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

.input:focus {
    border-bottom: 1px solid rgb(206, 193, 21);
}

.input__file {
    width: 1px;
    visibility: hidden;
}

#input__file__fake {
    align-self: flex-end;
    font-family: 'Arial';
    font-size: 1.1rem;
    width: 150px;
    height: 20px;
    margin: 1px 20px;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(110, 110, 110);
    border-bottom: 1px solid #000;
    cursor: pointer;
}

#input__file__fake:hover {
    border-bottom: 1px solid rgb(206, 193, 21);
    color: rgb(206, 193, 21);
}

.btn {
    align-self: center;
    margin: 0 20px;
    width: 90px;
    height: 30px;
    background-color: rgb(26, 26, 26);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 90%;
    width: 80vw;
}


.images__container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 280px;
    border-radius: 1px;
    margin: 15px 15px;
    padding: 5px;
}

.images__container:hover > .title {
    visibility: visible;
}

.images__container:hover > .image {
    filter: brightness(0.6);
}

.images__container:hover > .like {
    visibility: visible;
}

.images__container:hover > .comment__icon {
    visibility: visible;
}

.images__container:hover > .comment__count {
    visibility: visible;
}

.images__container:hover > .like__count {
    visibility: visible;
}


.like {
    position: absolute;
    bottom: 95px;
    left: 80px;
    height: 30px;
    width: 30px;
    z-index: 400;
    fill: white;
    visibility: hidden;
    cursor: pointer;
}

.like__count {
    position: absolute;
    font-size: 1.8rem;
    color: #FFF;
    bottom: 96px;
    left: 120px;
    height: 30px;
    width: 30px;
    z-index: 400;
    visibility: hidden;
    cursor: pointer;
}

.comment__icon {
    position: absolute;
    bottom: 95px;
    right: 100px;
    height: 30px;
    width: 30px;
    z-index: 400;
    fill: white;
    visibility: hidden;
    cursor: pointer;
}

.comment__count {
    position: absolute;
    font-size: 1.8rem;
    color: #FFF;
    bottom: 96px;
    right: 60px;
    height: 30px;
    width: 30px;
    z-index: 400;
    visibility: hidden;
    cursor: pointer;
}

.title {
    font-size: 2rem;
    color: white;
    transform: translateY(-170px);
    text-align: center;
    visibility: hidden;
    cursor: pointer;
}

.image {
    align-self: center;
    border-radius: 1px;
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
}

.button__container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 40px;
}

.btn__load {
    bottom: 0;
    margin: 0 20px;
    width: 80px;
    height: 35px;
    background-color: rgb(26, 26, 26);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

/* MODAL STYLES */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 50;
}

.dark {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .7;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.modal__container {
    position: relative;
    height: 90vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: #fff;
    z-index: 200;
}

#prev-arrow {
    align-self: center;
    height: 100px;
    width: 100px;
    z-index: 3000;
    fill: white;
    cursor: pointer;
}

#next-arrow {
    align-self: center;
    height: 100px;
    width: 100px;
    z-index: 3000;
    fill: white;
    cursor: pointer;
}
/* 
svg {
    align-self: center;
    height: 150px;
    width: 150px;
    z-index: 3000;
    fill: white;
    cursor: pointer;
} */

.image__info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 90vh;
}

.image__modal {
    max-height: 70vh;
    width: 45vw;
    object-fit: contain;
}

.title__modal {
    text-align: center;
    font-size: 3rem;
    margin: 20px;
}

.description__modal {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.username__modal {
    text-align: center;
    font-size: 1.4rem;
}

#like__modal {
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
    fill: black;
    cursor: pointer;
}

#trash {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    fill: #000;
    cursor: pointer;
}

#confirm {
    display: none;
    position: absolute;
    bottom: 30px;
    left: 20px;
    height: 20px;
    width: 200px;
    fill: #000;
}

#yes {
    cursor: pointer;
}

#yes:hover {
    color: red
}

#no {
    cursor: pointer;
}

#no:hover {
    color: green
}
/* COMMENTS STYLE */

.addcomments__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 30vw;
    height: 85vh;
    padding: 20px 20px;
    border-left: 1px solid rgb(214, 214, 214);
}

.form__comment {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
    height: 8vh;
    width: 30vw;
}

.comment__input {
    height: 30px;
    width: 8vw;
    margin: 5px 5px;
}

.comments__container {
    height: 65%;
    overflow: scroll;
}

.no__comments {
    display: flex;
    justify-content: center;
}

.comment__btn {
    width: 60px;
    margin: 5px 5px;
    height: 30px;
    background-color: rgb(26, 26, 26);
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.title__comment {
    text-align: center;
}

.comment__box {
    margin: 5px;
}

.comment__username {
    padding: 5px;
}

.comment__comment {
    padding: 5px;
}

.comment__date {
    padding: 5px;
    font-size: 1rem
}

@media only screen and (max-width: 1300px) {
    .image {
        height: 250px;
        width: 250px;
    }

    .images__container {
        height: 250px;
        width: 250px;
        margin: 5px 5px;
    }

    .like {
        bottom: 80px;
        left: 70px;
        height: 30px;
        width: 30px;
    }

    .like__count {
        font-size: 1.8rem;
        bottom: 80px;
        left: 110px;
        height: 30px;
        width: 30px;
    }

    .comment__icon {
        bottom: 80px;
        right: 80px;
        height: 30px;
        width: 30px;
    }

    .comment__count {
        font-size: 1.8rem;
        bottom: 80px;
        right: 40px;
        height: 30px;
        width: 30px;
    }

    .title {
        font-size: 2rem;
        transform: translateY(-150px);

    }
}

@media only screen and (max-width: 1048px) {

    .image {
        height: 220px;
        width: 220px;
    }

    .images__container {
        height: 220px;
        width: 220px;
        margin: 5px 5px;
    }

    .like {
        bottom: 60px;
        left: 55px;
        height: 30px;
        width: 30px;
    }

    .like__count {
        font-size: 1.8rem;
        bottom: 60px;
        left: 90px;
        height: 30px;
        width: 30px;
    }

    .comment__icon {
        bottom: 60px;
        right: 75px;
        height: 30px;
        width: 30px;
    }

    .comment__count {
        font-size: 1.8rem;
        bottom: 61px;
        right: 38px;
        height: 30px;
        width: 30px;
    }

    .title {
        font-size: 2rem;
        transform: translateY(-130px);

    }

    .addcomments__container {
        display: none;
    }

    .modal__container {
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
    }

    .image__info {
        position: unset;
        width: 80vw;
        max-height: 50vh;
    }

    .image__modal {
        align-self: center;
        width: 75vw;
    }

    #like__modal {
        position: absolute;
        bottom: 25px;
        right: 25px;
        height: 50px;
        width: 50px;
        fill: black;
        cursor: pointer;
    }
    
    #trash {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 60px;
        width: 60px;
        fill: #000;
        cursor: pointer;
    }
}

@media only screen and (max-width: 900px) {

    .form {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
    }

    .image {
        height: 250px;
        width: 250px;
    }

    .images__container {
        height: 250px;
        width: 250px;
        margin: 5px 5px;
    }
    
}

@media only screen and (max-width: 700px) {

    .form {
        display: none;
    }

    .image {
        height: 350px;
        width: 350px;
    }

    .images__container {
        height: 350px;
        width: 350px;
        margin: 5px 5px;
    }

    .like {
        bottom: 110px;
        left: 110px;
        height: 30px;
        width: 30px;
    }

    .like__count {
        font-size: 1.8rem;
        bottom: 110px;
        left: 150px;
        height: 30px;
        width: 30px;
    }

    .comment__icon {
        bottom: 110px;
        right: 130px;
        height: 30px;
        width: 30px;
    }

    .comment__count {
        font-size: 1.8rem;
        bottom: 110px;
        right: 90px;
        height: 30px;
        width: 30px;
    }

    .title {
        font-size: 2rem;
        transform: translateY(-190px);

    }
}